
* {
  box-sizing: border-box;
}
body {
  
      background : url('../img/album-announcement-background-1089842.j') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      margin-top: 0%;
      padding: 0px 2% 0px 2%;
      text-align: justify;
      background-color: rgb(148, 83, 4);
     
  }
  
  #record_wrap {
    width:90%;
    margin:100px auto;
    display:flex;
    justify-content:space-between;
  }
  
  .record {
    position:relative;
    width:100%;
    padding-right: 2%;
    height:auto;
    overflow:hidden;
    border-radius:10px solid #1ec754;
    @include shadow(1);
    background-color:#fff;
    cursor:pointer;
    transition: box-shadow 300ms;
    &:hover {
      @include shadow(2);
    }
  }
  
 
  
  .record:hover .record-arrow {
    transform:translateX(85%);
    opacity:1;
  }
  
  .record-display {
    width:100%;
    height:100%;
    top:0;
    background-image:url(../img/book.jpg);
    background-size:cover;
    background-position:center center;
    border-radius: 10px solid #FFA500;
	  
  }
  .record:hover .record-display {
    height:0%;
    @include shadow(1);
  }
  
  .record-desc {
    margin:20px 0 0 10px;
    opacity:0;
    transition: opacity 400ms ease-in-out 190ms ;
  }
  
  #record1 {
    transition:height 700ms cubic-bezier(0.54, 0.21, 0.18, 1.35);
  }
  #record2 {
    transition:height 500ms cubic-bezier(0.54, 0.21, 0.18, 1.35);
    justify-content: inherit;
  }
  #record3 {
    transition:height 300ms cubic-bezier(0.54, 0.21, 0.18, 1.35);
  }
  
  .record:hover .record-desc {
    opacity:1;
  }
  
  .tagline {
    margin:50px 0;
    text-align:center;
    color:green;
  }
  .btn{
    color: green;
  }

  /* css
  @media only screen and (min-width: 320px) {
    .jumbotron {
      margin-top: 60px;
    }
   }
   
   
   /* Extra Small Devices, Phones 
   
   @media only screen and (min-width: 480px) {
    body {
      margin-top: 12%;
    }
    .element {
      font-size: 34px;
    }
    .jumbotron {
      margin-top: 40px;
    }
    
   }
   
   
   /* Small Devices, Tablets 
   
   @media only screen and (min-width: 768px) {
    .element {
      font-size: 40px;
    }
    .jumbotron {
      margin-top: -70px;
      margin-bottom: -10px;
    }
   }
   
   
   /* Medium Devices, Desktops 
   
   @media only screen and (min-width: 992px) {
    .element {
      font-size: 45px;
    }
    .jumbotron {
      margin-top: -100px;
      margin-bottom: -10px;
    }
   }
   */
   
  .record{
	border-radius : 10px;
	border-color: #1ec754;
}
/*==========  typed.js ==========*/

.typed-cursor {
 font-size: 100px;
 color: white;
 font-weight: 300;
 opacity: 1;
 -webkit-animation: blink 0.7s infinite;
 -moz-animation: blink 0.7s infinite;
 animation: blink 0.7s infinite;
 text-align: center;
}

@keyframes blink {
 0% {
   opacity: 1;
 }
 50% {
   opacity: 0;
 }
 100% {
   opacity: 1;
 }
}

@-webkit-keyframes blink {
 0% {
   opacity: 1;
 }
 50% {
   opacity: 0;
 }
 100% {
   opacity: 1;
 }
}

@-moz-keyframes blink {
 0% {
   opacity: 1;
 }
 50% {
   opacity: 0;
 }
 100% {
   opacity: 1;
 }
}

.element {
 font-size: 28px;
 color: white;
 font-family: Monospace;
 display: inline;
}

.elementContainer {
 height: 180px;
}

/*==========  typeme.js ==========*/
/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {
 .jumbotron {
   margin-top: 60px;
 }
}

